.table-inverse {
    background-color: #666;
}

.table-hover tbody tr:hover {
    background-color: rgb(70, 70, 70);
}

th.sortable {
    cursor: pointer;
}

th.sortable:hover {
    background-color: rgb(70, 70, 70);;
}

tr.warning td.name {
    background-color: rgb(233, 0, 0);
}

.chart-container {
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
}