<div>
    <table class="table table-striped table-inverse table-hover">
        <thead>
            <tr>
                <th class="sortable" [class.active]="sortBy === 'id'" (click)="sortBy('id')">Patient ID</th>
                <th class="sortable" [class.active]="sortBy === 'name'" (click)="sortBy('name')">Name</th>
                <th class="sortable" [class.active]="sortBy === 'age'" (click)="sortBy('age')">Age</th>
                <th class="sortable" [class.active]="sortBy === 'duration'" (click)="sortBy('duration')">Active (min.)</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients" [routerLink]="['/patients', patient.id]" [ngClass]="{'warning': patient.isBelowThreshold}">
                <th scope="row">{{patient.id}}</th>
                <td class="name">{{patient.name}}</td>
                <td>{{patient.birthDate | age}}</td>
                <td>{{patient.activeMinutes}}</td>
                <td>{{patient.gender | gender}}</td>
            </tr>
        </tbody>
    </table>
    <div class="chart-container">
        <chart [options]="options"></chart>
    </div>
</div>