<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" [routerLink]="['/patients']">
        <img src="app/assets/images/mclaren-logo.png" width="160" alt="McLaren Applied Technologies">
    </a>
</nav>