<div class="container patient-detail">
    <div class="card">
        <h3 class="card-header">{{patient.name}}, {{patient.birthDate | age}}</h3>
        <div class="card-block">
            <h4 class="card-title"><strong>Birth Date: </strong> {{patient.birthDate | date}}</h4>
            <p class="card-text"><strong>Gender: </strong> {{patient.gender | gender}}</p>
            <p class="card-text"><strong>Height: </strong> {{patient.heightCm}} cm</p>
            <p class="card-text"><strong>Weight: </strong> {{patient.weightKg}} kg</p>
            <p class="card-text"><strong>BMI: </strong> {{patient.bmi}}</p>
            <p class="card-text"><strong>Activities: </strong></p>
            <ul class="activities">
                <li *ngFor="let patientActivity of patient.activities" [class.active]="patientActivity.intensity > 1">{{patientActivity.activity}} ({{patientActivity.minutes}} min.)</li>
            </ul>
        </div>
    </div>
</div>